<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">

      <label for="user_phrase">Enter your phrase: <label><input name="user_phrase" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
